#app {
  .title {
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .type {
    color: #fff;
  }
  .move-state {
    cursor: none !important;
  }

  .row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .wrap {
    display: flex;
    flex-direction: column;
  }
  
  .wrap-content {
    .el-form-item__content {
      display: flex;
      flex-direction: column;
    }
  }

  .minimal-font {
    transform: scale(0.5) translateX(50%);
    font-size: 20px;
    white-space: nowrap;
  }

  $splitpanes-bg-color: #4c4c4c;
  .splitpanes.default-theme {
    .splitpanes__pane {
      background-color: var(--el-bg-color);
    }
    .splitpanes__splitter {
      background-color: $splitpanes-bg-color;
      border-left-color: $splitpanes-bg-color;
      &::after {
        background-color: #aaa;
      }
      &::before {
        background-color: #aaa;
      }
    }
    .splitpanes--horizontal>.splitpanes__splitter {
      border-top-color: $splitpanes-bg-color;
    }
  }
}
